@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BebasNeue';
  src: url('../app/fonts/BebasNeueCyrillic.woff2') format('woff2');
  font-style: normal;
}

.title-span {
  @apply underline text-custom-95 underline-offset-8 decoration-4;
}

.swiper-scrollbar {
  @apply !bg-white/30;
}

.swiper-scrollbar-drag {
  @apply !bg-white;
}
